.overlay {
  position: absolute;

  inset: 5px;
  background-color: rgba(255, 255, 255, 0.857);
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}

.portfolio:hover .overlay {
  opacity: 1;
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s 0.3s;
  opacity: 0;
}
.portfolio:hover .caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.icon-rounded-30 {
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  transition: all 0.3s;
}
.portfolio .caption .icon-rounded-30:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
